body {
	background-color: black;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.3rem;
}

.main {

	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}



.ryuready, .ryustill, .ryuhad, .ryucool {
	width: 659px;
	height: 494px;
	float: left;
}

.ryuready, .ryuhad {
	display: none;
}
.ryuready {
	background-image: url("../images/ryu-ready-position.gif");

}

.ryustill {
	background-image: url("../images/ryu-standing-still.png");

}

.ryuhad {
	background-image: url("../images/ryu-throwing-hadouken.png");

}

.ryucool {
	background-image: url("../images/ryu-cool.gif");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryucool {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 160px;
	left: 626px;
}

.directions{
	padding-top: 100px;

}